In [1]:
import pandas as pd
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32], }

df1 = pd.DataFrame(data1, index=['a', 'b', 'c', 'd'])

In [2]:
df1

  key    Name  Age
a  K0     Jai   27
b  K1  Princi   24
c  K2  Gaurav   22
d  K3    Anuj   32

In [3]:
df1.reindex(['b', 'c', 'd', 'a'])

  key    Name  Age
b  K1  Princi   24
c  K2  Gaurav   22
d  K3    Anuj   32
a  K0     Jai   27

In [12]:
for i, j in df1.iterrows():
    print(j['Name'])

Jai
Princi
Gaurav
Anuj

In [18]:
for i in df1.items():
    print(i)

('key', a    K0
b    K1
c    K2
d    K3
Name: key, dtype: object)
('Name', a       Jai
b    Princi
c    Gaurav
d      Anuj
Name: Name, dtype: object)
('Age', a    27
b    24
c    22
d    32
Name: Age, dtype: int64)

In [20]:
list(df1['Name'])

['Jai', 'Princi', 'Gaurav', 'Anuj']

In [40]:
def test(x):
    return x.sum()


df1.apply(test)

key                K0K1K2K3
Name    JaiPrinciGauravAnuj
Age                     105
dtype: object

In [34]:
df1.apply(lambda x: x.sum())

key                K0K1K2K3
Name    JaiPrinciGauravAnuj
Age                     105
dtype: object

In [32]:
sum([1, 2, 3, 4, 5, 6])

21

In [44]:
df2 = df1[["Age"]]

In [45]:
df2

   Age
a   27
b   24
c   22
d   32

In [47]:
df2.applymap(lambda x: x**2)

    Age
a   729
b   576
c   484
d  1024

In [48]:
df1

  key    Name  Age
a  K0     Jai   27
b  K1  Princi   24
c  K2  Gaurav   22
d  K3    Anuj   32

In [50]:
df1.sort_index()

  key    Name  Age
a  K0     Jai   27
b  K1  Princi   24
c  K2  Gaurav   22
d  K3    Anuj   32

In [52]:
df1.sort_index(ascending=False)

  key    Name  Age
d  K3    Anuj   32
c  K2  Gaurav   22
b  K1  Princi   24
a  K0     Jai   27

In [53]:
df1.sort_values('Name')

  key    Name  Age
d  K3    Anuj   32
c  K2  Gaurav   22
a  K0     Jai   27
b  K1  Princi   24

In [54]:
df1.sort_values("Name", ascending=False)

  key    Name  Age
b  K1  Princi   24
a  K0     Jai   27
c  K2  Gaurav   22
d  K3    Anuj   32

In [66]:
pd.set_option("display.max_colwidth", 5000)
df3 = pd.DataFrame({"Desc": ["Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet.., comes from a line in section 1.10.32.", "My name is Sarvajit", "Hiii i am learning data science", "data science is very interested subject"]})

In [67]:
df3

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Desc
0  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet.., comes from a line in section 1.10.32.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      My name is Sarvajit
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Hiii i am learning data science
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  data science is very interested subject

In [68]:
df3["Desc_len"] = df3["Desc"].apply(len)

In [69]:
df3

,Desc,Desc_len
0,"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet.., comes from a line in section 1.10.32.",759
1,My name is Sarvajit,19
2,Hiii i am learning data science,31
3,data science is very interested subject,39

In [70]:
df3["Word_Count"] = df3['Desc'].apply(lambda x: len(x.split()))

In [71]:
df3

,Desc,Desc_len,Word_Count
0,"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet.., comes from a line in section 1.10.32.",759,129
1,My name is Sarvajit,19,4
2,Hiii i am learning data science,31,6
3,data science is very interested subject,39,6